<div class="redirect">
    <h1>Página de redirección de la Banbox Demo Store</h1>
    <p class="payment-info">
        <strong>Monto: </strong>
        <%= @paymentData["amount_in_cents"] %>
        <%= @paymentData["currency"] %>
    </p>
    <p class="payment-info">
        <strong>Status: </strong>
        <%= @paymentData["status"] %></p>
</div>