<div class="redirect">
    <div class="container">
        <%= image_tag("demo-logo.png", :alt => "logo", :class => 'logo-redirect') %>
        <h1>Página de redirección de la Demo Store</h1>
    </div>
    <%= link_to "Volver a la Demo Store", "/tokenbox_store/index", class: "to-back" %>
</div>